{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Faculty Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
  <link rel="stylesheet" href="{% static 'css/test.css'%}">

	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>Faculty</h2>
        <ul>
            <li><a href="/facultyDash"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/facultyDash/faculty_profile"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="/facultyDash/update_Assignment"><i class="fas fa-clipboard-list"></i>Assignment</a></li>
            <li><a href="/facultyDash/update_timetable"><i class="fas fa-table"></i>TimeTable</a></li>
            <li><a href="/facultyDash/Attendance"><i class="fas fa-users"></i>Attendance</a></li>
            <li><a href="/facultyDash/Announcement"><i class="fas fa-bullhorn"></i>Announcements</a></li>
        </ul>   
        <div class="social_media">
          <a href="/"><i class="fas fa-sign-out-alt"></i></a>
      </div>
    </div>
    {% block content %}
    <div class="main_content">
       <h1> <div class="header">Faculty Dashboard.</div> </h1>
        
        <div class="info">
          {% for sub in Subs %}
            <div class = "squares">
              <a href="/fac_dashboard/{{course.CourseID}}" id = "testing">
                <img src = "/static/img/courses/elearn.png" >
              </a>
              <div class="desc">  {{sub.CourseID}}  </div>
            </div>
          {% endfor %}
        </div>

    </div>
    {% endblock %}
</div>

</body>
</html>