{% extends  'fac_dashboard.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/attendance.css'%}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="main_content">
    <h1><div class="header">Assignments</div></h1>

    
    <div class="info">
        {% block content1 %}

            {% block content_header %}
                <p>
                <a class='button1' href="update_Assignment/upload" >Upload Attendance</a>
                </p>
            {% endblock content_header %}

            <table class='table table-hover'>
                <thead class='table-info'>
                <tr>
                    <th><h2>Title</h2></th>
                    <th><h2>Subject</h2></th>
                    <th><h2>Due Date</h2></th>
                    <th><h2>Download</h2></th>
                    <th><h2>Delete</h2></th>
                </tr>
                </thead>
                <tbody>
                {% for element in List %}
                    <tr>
                        <td><h4>{{ element.Atitle }}</h4></td>
                        <td><h4>{{ element.Asubject }}</h4></td>
                        <td><h4>{{ element.ADOU }}</h4></td>
                        <td>
                            <a class = 'button button1' href="{{ element.AFile.url }}" target="_blank">Download PDF</a>
                        </td>
                        <td>
                            <form method="post" action="{% url 'delete_Assignment' element.pk %}">
                            {% csrf_token %}
                            <button type="submit" class= 'button button2'>Delete</button>  
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endblock content1 %}
        </div>


</div>

{% endblock %}